/*
File: kush_style.css

Authors: Kush Patel

Description: CSS file for Kush's CSS documentation.

Example Naming Style:

.tynan-navbar-color {
    background-color: #49beb7;
}

Please try and indicate what is yours by putting your name in the names of classes. This way it's easiest to track down issues. 

Credit:
*/