/*
File: kush_style.css

Authors: Kush Patel

Description: CSS file for Kush's CSS documentation.

Example Naming Style:

.tynan-navbar-color {
    background-color: #49beb7;
}

/*Please try and indicate what is yours by putting your name in the names of classes. This way it's easiest to track down issues. 

Credit:
*/

#profile{
    margin-left: 170px !important;
    margin-top: -5px;
}

#name{
    color: black;
    font-size: 50px !important;
    margin-left: 300px;
    margin-top: -40px !important;
}

#notifications{
    margin-left: -300px;
    margin-top: -30px;
}

#messages{
    margin-left: -170px;
    margin-top: -30px;
}

#logoutPic{
    margin-left: -50px;
    margin-top: -30px;

}

.kush-navbar-color{
    /* position: absolute;
    margin-left: -8px; */
    background-color: rgb(73, 190, 183);
    color: rgb(73, 190, 183);
    /* height: 4px; */
    width: 100%;
}

.text-end{
    height: 50px;
}



.kush-button-hover:hover{
    cursor: pointer;
}
 
#search{
    /* position: absolute; */
    /* margin-top: 15px; */
    /* margin-left: 100px; */
    /* height: 56px;*/
    width: 500px;
    border-radius: 35px;
    z-index: 1;
    
}
 


h3{
    font-size: 20px;
}


#logo{
    cursor: pointer;
    width: auto;
    max-width: 100px;
}

#dropdown{
    position: absolute;
    margin-top: -37px;
    margin-left: -37px;
    height: 75px;
    width: 75px;
    cursor: pointer;
    z-index: -1;    

}

  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 350px;
    height: 200px;
    margin-left: -17.1%;
    margin-top: -7.5% !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdownLast a:hover {background-color: #ddd;}
  

  #logout{
      float:right;
      font-weight: bold;
      font-size: 25px;
      margin-top: 120px;
      margin-right: 30px;
      padding: 10px;
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 20px;
      border-radius: 20px;
      background-color: rgb(226,240,255);
      box-shadow: 0px 2px 2px 3px rgba(1, 1, 1, 0.219);
  }

  #logout:hover{
      background-color: rgb(157, 193, 231) ;
  }

.message-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 600px;
    height: 450px;
    margin-left: -32%;
    margin-top: 12.5% !important;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.message-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#messageBar{
    position: absolute;
    text-align: center;
    background-color: rgb(248, 244, 244);
    width: 272px;
    height: 60px;
}

#goBack{
    position: absolute;
    height: 60px;
    width: 40px;
    margin-left: -136px;
}

#goBack:hover{
    cursor: pointer;
}

#friend{
    position: absolute;
    color: black;
    font-size: 36px;
    margin-left: 60px;
    margin-top: 8px;
    
}

#messageBox{
    position: absolute;
    text-align: center;
    background-color: rgb(248, 244, 244);
    width: 272px;
    height: 60px;
    margin-top: 50px;
}

#searchMessages{
    font-size: 22px;
    position: absolute;
    text-align: center;
    margin-top: 60px;
    margin-left: -136px;
    width: 272px;
    height: 50px;
    border: 1px solid black;
}

#friend1{
    background-color: rgb(222,222,222);
    position: absolute;
    margin-top: 110px;
    width: 272px;
    height: 80px;
}

#friendOne{
    color: black;
    font-size: 24px;
    margin-right: 100px;
    margin-top: 10px;
}

#dateOne{
    font-size: 18px;
    color: black;
    margin-top: -50px;
    margin-left: 200px;
}

#textBox{
    position: absolute;
    background-color: rgb(220, 220, 220);
    margin-left: 272px;
    height: 450px;
    width: 328px;

}

#typeMessage{
    font-size: 20px;
    color: black;
    background-color: white;
    position: absolute;
    width: 328px;
    height: 50px;
    margin-left: -28px;
    margin-top: 400px;
    border: 1px solid black;
}

#send{
    position: absolute;
    height: 45px;
    width: 45px;
    margin-left: 254px;
    margin-top: 402px;
}

#send:hover{
    cursor: pointer;
}


#compose{
    position: absolute;
    margin-left: 85px;
    height: 60px;
    width: 60px;
}

#compose:hover{
    cursor: pointer;

}


.notification-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 22.5%;
    height: 550px;
    margin-left: -13% !important;
    /*margin-top: -82px !important; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

#notificationsTab{
    position: absolute;
    font-size: 20px;
    text-decoration: underline pink;
    /* margin-top: 1px;
    margin-left: 4px; */
}

#exitNoti{
    position: absolute;
    height:35px;
    width: 35px;
    /* margin-top: 1px;*/
    margin-left: 138px; 
}

#exitNoti:hover{
    cursor: pointer;
}
   
.notification-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.flex-line{
    display: flex;
    /* font-size: 36px;
    color: black;
    font-weight: bold; */
}


/* #verticalLineLeft{
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    height: 520px;
    margin-left: 50px;
    margin-top: -25px !important;
}

#verticalLineRigth{ 
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    height: 520px;
    margin-top: -25px !important;
    
} */

#horizontalLineLeft{ 
    border-bottom: 4px solid rgba(0, 0, 0, 0.25);
    width: 255px; 
    /* margin-left: 15px; */
    /* margin-top: 250px !important;  */
}

/* #horizontalLineMiddle{
    position:fixed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
    width: 896px; 
    margin-left: 305px;
    margin-top: 335px !important; 
}  */

/*#invite{
    position: absolute;
    margin-top: 30px;
    margin-left: 1050px;
}

#inviteButton{
    background-color: rgb(226,240,255);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

#inviteButton:hover{
    cursor: pointer;
}*/
  
.show {
    display: block !important;
} 
 


#dropdown{
    position: absolute;
    margin-top: -37px;
    margin-left: -37px;
    height: 75px;
    width: 75px;
    cursor: pointer;
    z-index: -1;    

}

  #cancel{
      float:right;
      font-size: 25px;
      font-weight: bold;
      font-weight: bold;
      margin-top: 120px;
      margin-right: 50px;
      padding: 10px;
      border-radius: 20px;
      padding-left: 25px;
      padding-right: 25px;
      box-shadow: 0px 2px 2px 3px rgba(1, 1, 1, 0.219);
  }

  #cancel:hover{
      background-color: rgb(158, 155, 155);
  }

#notifications, #messages, #logoutPic{
    height: 60px;
    width: 60px;
}
   
#online{
    font-size: 36px;
    color: black;
    font-weight: bold;
}

.container-fluid{
    display: flex;
}

.box{
    /* border: 1px solid black; */
    height: 595px;
}

.left{
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.middle{
    flex:2.5;
}

.right{
    flex: 1;
    border-left: 1px solid rgba(0, 0, 0, 0.25);

}

.box1{
    height: 260px;
}

.box2{
    height: 375px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.55);
    align-content: center;
}

.box3{
    height: 300px;
}

#map{
    height: 400px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    /* align-content: center; */
}


/*#invite{
    position: absolute;
    margin-top: 30px;
    margin-left: 1050px;
}

#inviteButton{
    background-color: rgb(226,240,255);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

#inviteButton:hover{
    cursor: pointer;
}*/
  