/*
File: raj_style.css

Authors: Raj Vekeria

Description: CSS file for Raj's CSS documentation.

Example Naming Style:

.tynan-navbar-color {
    background-color: #49beb7;
}

Please try and indicate what is yours by putting your name in the names of classes. This way it's easiest to track down issues. 

Credit:
*/