/*
File: tynan_style.css

Authors: Tynan Hollyer

Description: CSS file for Tynan's CSS documentation.

Example Naming Style:

.tynan-navbar-color {
    background-color: #49beb7;
}

Please try and indicate what is yours by putting your name in the names of classes. This way it's easiest to track down issues. 

Credit:
*/


.tynan-navbar-color {
    background-color: #49beb7;
}

.tynan-button-hover:hover {
    opacity: 75%;
}

.tynan_ul {
    list-style-type: none;
}